<<<<<<< HEAD
<meta charset="UTF-8" >
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
=======
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
>>>>>>> e96ba4f9c00896c16b79813d008a588c1aa8e3c3
button.choice {
	padding: 10px 20px;
	font-size: 18px;
	margin: 10px;
}
